.container-full-width {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container-temp-min {
    color: $color-gold;
}

.container-temp-min, .container-temp-max {
    position: relative;
}

.container-forecast {
    .forecast {
        padding: .75em;

        &:first-child {
            margin-top: -.75em;
        }

        &:hover {
            cursor: pointer;
            color: white;
            background: $color-gold--transparent;
            transition: background 150ms ease-in;
        }
        
        & + .forecast {
            border-top: 1px solid;
        }
    }
}
.container-weekday-weather {
    display: inline-block;
    font-size: 0.35em;
    span {
        font-size: inherit;
        display: block;
    }
}

.container-weather-icon {
    float: right;
    font-size: 1.5em;
}
