.heading-container {
  border-bottom: 3px solid;
  margin-bottom: 1rem;
  padding: 5px;
  text-align: center;
}

.heading-city {
  color: $color-gold;
  font-weight: bold;
  margin-top: 0;
  opacity: .75;
  text-transform: uppercase;
}

.forecast {
  &:hover {
    .heading-city {
      color: $color-white;
    }
  }
}

.heading-condition-name {
  font-style: italic;
}
