.temp-unit {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 0.45rem;
    text-transform: capitalize; 
}

.temp-min, .temp-max {
    font-size: 2rem;
    display: inline-block;
}
