.temp-unit {
  font-size: .45rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.temp-min,
.temp-max {
  display: inline-block;
  font-size: 1.25rem;
}
