$color-red: #e74c3c;
$color-blue: #2185c5;
$color-white: white;
$color-lightgray: lightgray;
$color-darkgray: darkgray;
$color-gray: #f4f4f4;
$color-lightblack: #2b2f35;
$color-yellow: #FDB813;

$screen-xxs-max: 480px - 1;
$screen-xs-min: 480px;
$screen-xs-max: 768px - 1;
$screen-sm-min: 768px;
