html {
    min-height: 100%;
    width: 100%;
    font-size: initial;
}
body {
    min-height: 100%;
    width: 100%;
}

h2 {
    font-size: 3.8rem;
    font-weight: 300;
    font-family: Open Sans;
    color: $color-blue;
    padding: 1.2em 20px;
    @media (max-width: $screen-xxs-max){
        padding-left: 20px;
        padding-right: 20px;
    }
}
a:hover {
    text-decoration: none;
}
h3 {
    display: inline-block;
    font-family: Open Sans;
    background-color: $color-lightblack;
    color: $color-white;
    font-size: 1.9rem;
    padding: 0 40px;
    font-weight: 300;
    line-height: 2em;
    margin: 0;
    @media (max-width: $screen-xxs-max){
        padding-left: 20px;
        padding-right: 20px;
        display: block;
    }
}

.navbar {
    @media all {
        border-radius: 0;
    }
}

/* override bootstrap styles */
.navbar {
    margin-bottom: 0;
}

.panel {
    background-color: $color-white;
    &.panel--grey {
        background-color: $color-gray;
    }
    &:after {
       content: "";
       clear: both;
       display: table;
    }

    .panel-header {
        width: 100%;
    }
}


.form-group--main {
    font-size: 1rem;
    background-color: $color-gray;
    padding: 2.5em;
    margin: 0;
    @media (max-width: $screen-xxs-max){
        padding-left: 20px;
        padding-right: 20px;
    }
}


.header-logo {
    font-size: 1rem;
    overflow: hidden;
    padding: 5em 40px;
    width: 100%;
    @media (max-width: $screen-xxs-max){
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-logo-icon {
        float: left;
        color: $color-red;
        font-size: 4em;
        background-color: $color-red;
        color: $color-white;
        height: 1em;
        width: 1em;
        border: 5px solid $color-white;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0.055em $color-red;
        margin-top:0.313em;
        margin-right: 0.313em;

        @media(max-width: $screen-sm-max) {
            display: none;
        }
    }
    .header-logo-text {
    float: left;

    @media (max-width: $screen-xs-max){
        float: none;
        margin: 0;
    }
        .header-logo-headline {
            font-size: 4.2rem;
            color: $color-lightblack;
            font-weight: 300;
            font-family: Open Sans;
            margin: 0;
        }
        .header-logo-quote {
            font-size: 1.2rem;
            color: $color-lightgray;
            font-weight: 300;
            text-transform: uppercase;
            font-family: Open Sans;
        }
    }
}


.results {
    position: relative;

    .results-container {
        position: absolute;
        top: 40px;
        left: 40px;  

        .results-location {
            position: absolute;
            right: 0;
            left: 0;
            line-height: 1em;
            font-weight: normal;
            opacity: 0;
        }

        .results-more {
            margin-left: -5px;
            &:before {
                content: '>';
            }
            // transform: rotate(-90deg);
          /*  &.results-more:hover {
                transform: rotate(90deg);
            } */
            &.results-more:hover .results-location {
                transition: opacity 1s ease-in;
                opacity: 1;
            }
        }

        .results-add {
            margin-left: 40px;
            @media(max-width: $screen-xs-max) {
                margin-left: 0;
            }
        }

    }
}

.location {
    padding: 2.778em 40px;
    float: left;
    position: relative;
    text-align: center;
    background-color: $color-gray;
    color: $color-lightblack;
    font-size: 0.9rem;
    @media (max-width: $screen-xxs-max){
        padding-left: 20px;
        padding-right: 20px;
    }
}

.location--white {
    background-color: $color-white;
}
.location-icon {
    font-size: 1rem;
    padding: 1em 0;
    .location-icon-wi {
        font-size: 3em;
    }
}

.location-meta {
    margin-top: 20px;
    font-size: 1em;

}
.location-temp-max {
    color: $color-red;
}
.location-temp-min {
    color: $color-blue;
}

.location-headline {
    font-size: 1.2rem;
    line-height: 1em;
    color: $color-lightgray;
    font-weight: 300;
    text-transform: uppercase;
    font-family: Open Sans;
    padding-bottom: 40px;
    word-wrap: break-word;
}

.button {
    display: inline-block;
    font-family: Open Sans;
    background-color: $color-blue;
    color: $color-white;
    font-size: 1.9rem;
    padding: 0 15px;
    font-weight: 300;
    line-height: 2em;

    &.button:hover {
        background-color: $color-red;
        color: $color-white;
        cursor: pointer;
    }


    &.button--quad {
        width: 2em;
        text-align: center;
        padding: 0;
    }
}

.footer {
    padding: 5em 40px;
    height: 160px;
    color: $color-lightgray;
}