@import "lib/bootstrap/bootstrap";
@import "lib/city/city-search";
//@import "weather/weather-ui";


html {
    min-height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.app-container {
   margin-top: 75px;
}

.sidebar {
    @media (min-width: 768px) {
        height: 600px;
    }
}

 .weather-container {
     position: relative;
     background-color: #467ec7;
     color: #fff;
     .weather-img {
         width:150px;
     }

     &:hover .button-add-location {
        display: inline-block;
     }
 }

.button-add-location {
    position: absolute;
    display: none;

    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;

    cursor: pointer;    
    background: white;

    border: 1px solid white;
    border-radius: 100%;
    line-height: 25px;

    z-index: 1;

    &:hover {
        $add-location-hover-color: darken(white, 12%);
        background: $add-location-hover-color;
        border: 1px solid $add-location-hover-color;
    }

    &:before {
        content: '+';
        color: #467ec7;
        font-size: 25px;
        font-weight: bold;
    };

}

.block-heading {
    padding: 5px;
    color: #9d9d9d;
    padding-left: 15px;
    background: #f5f5f5;
    border: 1px solid #ddd;
}

 /*about css */

  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

.container-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* override bootstrap styles */

.panel-group .panel, .panel {
    border-radius: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.navbar {
    margin-bottom: 0;
}


