@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800');
@import 'variables';
@import 'lib/weather-icons-master/sass/weather-icons';
@import 'lib/animations/index';
@import 'lib/autocomplete/autocomplete';
@import 'lib/normalize';
@import 'container';
@import 'headings';
@import 'temperature';
@import 'input';

.top {
  background: $color-gold;
  display: inline-block;
  height: 10vh;
  padding: 0;
  z-index: 1;
}

.left {
  background: $color-orange;
  color: $color-white;
  text-align: center;

  .content {
    margin: 0 0 0 auto;
  }
}

.right {
  background: $color-orange--transparent;
  color: $color-orange;
  overflow-y: scroll;
}

.left,
.right {
  height: 90vh;
  transition: width 1s ease-out;
  @media (max-width: $screen-md) {
    &.col-xs-2 {
      cursor: pointer;
      overflow: hidden;

      .content > div {
        display: none;
      }

      .rotate {
        border-bottom: 0;
        transform: rotate(90deg);
        transform-origin: left;
        transition: transform .75s ease-out;
      }
    }
  }
}

.content {
  max-width: 100%;
  padding: 0 .25rem;
  @media (min-width: $screen-lg) {
    max-width: 85%;
  }
  @media (min-width: $screen-xl) {
    max-width: 50%;
  }

  &>div {
    animation: fade-in 1s ease-out;
  }
}
