@import "bootstrap/bootstrap";
@import "city/city-search";
@import "weather/weather-ui";

body {
    background: #7f0014;
}

.app-container {
    margin-top: 100px;
}

 .weather-container {
     height: 200px;
 }
